.App {
  text-align: center;
}

nav {
  background-color: #141f1f;
  font-size: 14px;
  padding: 5px 0;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

button {
  font-size: 26px;
  border-radius: 10px;
  background-color: #f2f2f2;
}
