.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

nav {
  background: rgb(40, 40, 41);
  background-size: 50%;
  color: white;
  font-size: 20px;
  padding: 5px 0;
  margin: 0;
  border: none;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 26px 5%;
}

nav a:hover {
  color: rgb(133, 225, 228);
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0 0 5px black;
}



